{% extends "school_app/auth/base_auth.html" %}
{% block title %}
{{business_name}} || Forget Password
{% endblock title %}
{% block content %}
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Enter your email address to reset your password</h4>
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label><strong>Enter Email</strong></label>
                                        <input type="email" class="form-control" placeholder="Email" name="email">
                                    </div>
                                    
                                    
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
