{% extends "school_app/auth/base_auth.html" %}
{% block title %}
{{business_name}} || Forget Password Done
{% endblock title %}
{% block content %}
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <h4><i class="fa fa-check-circle text-success"></i> Reset Email Link Sent Successfully</h4>
                    <p>We have sent you an email on how to reset your password, follow the email instructions to reset password.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}